:root {
  --main-color: #4e5249;
  --highlight-color: #f050a6;
  --primary-color: #f8f9fa;
  --secondary-color: #e1dfdc;
}

p {
  text-align: center;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: "Birthstone Bounce", cursive;
  font-size: 40px;
}

.work-project-button {
  display: block;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 35px;
  border: 1px solid var(--main-color);
  box-shadow: 5px 10px 20px rgb(232, 230, 230);
  color: white;
  font-size: 20px;
  text-decoration: none;
  line-height: 30px;
  transition: 200ms;
}

.work-project-button:hover {
  background-color: white;
  color: var(--main-color);
}

.headline {
  text-align: center;
  color: var(--main-color);
  margin-top: 40px;
}

.hello,
.profession {
  font-size: 35px;
  line-height: 60px;
}
.profession {
  padding: 20px;
  text-align: center;
  color: var(--main-color);
}

.name {
  font-size: 125px;
  line-height: 120px;
  font-family: "Birthstone Bounce", cursive;
  color: var(--highlight-color);
}

.author-photo-cont {
  background-color: var(--secondary-color);
}

.author-photo {
  padding: 120px;
  border-radius: 50%;
  opacity: 0.9;
}

.work-intro {
  font-size: 50px;
  color: var(--main-color);
  text-align: center;
  padding: 100px;
  background-color: var(--primary-color);
}

@media (max-width: 900px) {
  .headline {
    color: var(--main-color);
    margin-top: 80px;
    margin-bottom: -5px;
    position: absolule;
  }
  .name {
    font-size: 100px;
    line-height: 80px;
  }
  .hello,
  .profession {
    font-size: 45px;
    line-height: 45px;
  }
  .profession {
    position: absolute;
    color: white;
  }
  .author-photo {
    padding: 155px;
  }
}

@media (max-width: 600px) {
  .headline {
    top: 30px;
    position: sticky;
    color: var(--main-color);
    text-align: center;
    margin-top: 70px;
  }
  .author-photo-cont {
    background-color: var(--secondary-color);
  }
  .author-photo {
    padding: 60px;
    border-radius: 50%;
    opacity: 1;
  }

  .name {
    font-size: 80px;
    line-height: 80px;
  }

  .profession {
    top: 470px;
    font-size: 35px;
  }

  .work-intro {
    font-size: 40px;
  }
}

.about-headline {
  font-size: 125px;
  line-height: 120px;
  font-family: "Birthstone Bounce", cursive;
  text-align: center;
  color: var(--highlight-color);
  margin-top: 40px;
}

.work-project {
  padding: 70px 70px;
}

.project {
  margin: 0 auto;
  transition: transform 0.4s;
  width: 75%;
  display: block;
}

.project:hover {
  transform: scale(1.2);
}
.work-project-name {
  text-align: center;
  font-family: "Birthstone Bounce", cursive;
  font-size: 55px;
  color: var(--highlight-color);
  line-height: 30px;
}

.work-project-descriprion {
  padding: 40px;
  color: var(--main-color);
  text-align: justify;
}

footer {
  margin: 50px auto;
  margin-top: 100px;
  color: var(--main-color);
  font-size: large;
}

.reference {
  font-size: 17px;
}
.reference-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--highlight-color);
}

.reference-link:hover {
  color: var(--main-color);
}

.button-link {
  text-decoration: none;
}

.about-headline-container {
  margin: 50px 50px;
}

.about-section {
  background-color: var(--secondary-color);
  padding: 75px 50px;
}

.about-section-container {
  padding-left: 25px;
  padding-right: 25px;
}

.contact-container {
  font-size: 85px;
  color: var(--highlight-color);
  line-height: 70px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.icon {
  font-size: 60px;
  color: var(--main-color);
  margin-bottom: 25px;
  padding: 0 40px;
  text-align: center;
}

.contact-inside {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .contact-inside {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.contact-link {
  text-decoration: none;
  color: var(--main-color);
}

.contact-link:hover {
  color: var(--main-color);
}

.navbar-brand {
  color: var(--main-color) !important;
  font-weight: bold;
}

.navbar-nav {
  color: var(--main-color) !important;
  font-weight: bold;
}
