p {
  text-align: center;
}

h1 {
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
}
.text-dark {
  color: #44483e !important;
}

.headline {
  text-align: center;
  color: #44483e;
  margin-top: 40px;
}

.hello,
.profession {
  font-family: "Cinzel", serif;
  font-size: 35px;
  line-height: 60px;
}
.profession {
  padding: 20px;
}

.name {
  font-size: 125px;
  line-height: 120px;
  font-family: "Birthstone Bounce", cursive;
}

.author-photo-cont {
  background-color: #9f998b;
}

.author-photo {
  padding: 100px;
}

@media (max-width: 900px) {
  .headline {
    color: #44483e;
    margin-top: 100px;
    margin-bottom: -5px;
  }
  .name {
    font-size: 100px;
    line-height: 80px;
  }
  .hello,
  .profession {
    font-size: 35px;
    line-height: 45px;
  }
  .profession {
    position: absolute;
    color: white;
  }
  .author-photo {
    padding: 135px;
  }
}

@media (max-width: 600px) {
  .author-photo {
    padding: 30px;
    padding-top: 240px;
  }
  .name {
    font-size: 80px;
    line-height: 80px;
  }

  .profession {
    top: 300px;
  }
  .headline {
    top: 110px;
    position: absolute;
    color: white;
    text-align: center;
  }
}

.work-intro {
  font-size: 60px;
  color: #44483e;
  font-family: "Birthstone Bounce", cursive;
  text-align: center;

  padding: 100px;
  background-color: #f8f9fa;
}

.about-headline {
  font-size: 125px;
  line-height: 120px;
  font-family: "Birthstone Bounce", cursive;
  text-align: center;
  color: #44483e;
  margin-top: 40px;
}

.work-project {
  padding: 50px 50px;
}

footer {
  margin: 50px auto;
  margin-top: 100px;
  color: #44483e;
  font-size: large;
}

.reference {
  text-decoration: none;
  font-weight: bold;
  color: #44483e;
}
